nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.logo {
  font-family: "Bungee", sans-serif;
  margin-left: 1.5em;
  align-self: center;
}

.sourceProFont {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 1.5em;
  align-self: center;
}

.icon {
  color: red;
  width: 20px;
  height: 20px;
  margin: 5px auto;
  display: block;
}