.tweetbtn {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 0.2em 0.4em 0.2em 0.4em
}

textarea {
  border: none;
  border-bottom: 5px solid #54514a;
  background-color: #f4f1ec;
  width: 100%;
  resize: none;
  outline: none;
  line-height: 0.75;
}

::placeholder {
  font-weight: bold;
}

.negativeCount {
  color: red;
}

.errorMsg {
  display: flex;
  justify-content: center;
  color: red;
  padding: 0.5em;
  border: 2px solid red;
  margin-top: 0.5em;
}

.errorMsg i {
  padding-left: 10px;
  padding-right: 10px;
}